<% title = "Drowned AFK Spot Finder" -%>
<% entryPoint = "out/drowned.js" -%>
<%- include('include/header'); -%>
<h1>Drowned AFK Spot</h1>
<div>
    <div class="step" data-step="1">
        <div class="nes-balloon from-left">
            <p>Let's find the spot in your world with the most river biome blocks nearby.</p>
            <p>This is the best spot for a giant drowned/trident farm.</p>
            <p>Enter your world seed. This is used to calculate the biome noise.</p>
        </div>
        <div class="nes-balloon from-right">
            <form id="seed-form">
                <div class="nes-field">
                    <label for="seed">My seed is</label>
                    <input type="text" id="seed" name="seed" class="nes-input" required placeholder="-123456789">
                </div>
                <button class="nes-btn is-primary" type="submit">Enter</button>
            </form> 
        </div>
    </div>
    <div class="step hidden" data-step="2">
        <div class="nes-balloon from-left">
            <p>Load all .mca files in your world's region folder.</p>
            <p>These have the 3D biome data which we will use to find rivers.</p>
            <p><small>Your files are never uploaded &mdash; everything is processed in your browser.</small></p>
        </div>
        <div class="nes-balloon from-right">
            <form id="region-files-form">
                <label id="region-files-container" class="nes-btn file-select" data-warning="file-select-warning">
                    <span>Select files</span>
                    <input id="region-files" type="file" multiple required>
                </label>
                <p id="file-select-warning" class="hidden">
                    <small>It may take a moment for a large number of files to load...</small>
                </p>
                <button class="nes-btn is-primary" type="submit">Enter</button>
            </form>
            <label>
                <input type="checkbox" class="nes-checkbox hiding-checkbox" data-for="advanced-controls" checked />
                <span>Advanced</span>
            </label>
            <div id="advanced-controls" class="hidden nes-container">
                <div class="nes-container with-title with-margin">
                    <p class="title">Within radius</p>
                    <div class="nes-field is-inline">
                        <label for="search-radius">r</label>
                        <input type="text" id="search-radius" class="nes-input" placeholder="Infinity">
                    </div>
                    <div class="nes-field is-inline">
                        <label for="search-center-x">x</label>
                        <input type="text" id="search-center-x" class="nes-input" placeholder="0">
                    </div>
                    <div class="nes-field is-inline">
                        <label for="search-center-x">z</label>
                        <input type="text" id="search-center-z" class="nes-input" placeholder="0">
                    </div>
                </div>
                <div class="nes-container with-title with-margin">
                    <p class="title">Navigate</p>
                    <div class="nes-field is-inline">
                        <label for="navigate-to-x">x</label>
                        <input type="text" id="navigate-to-x" class="nes-input" placeholder="0">
                    </div>
                    <div class="nes-field is-inline with-margin">
                        <label for="navigate-to-z">z</label>
                        <input type="text" id="navigate-to-z" class="nes-input" placeholder="0">
                    </div>
                    <p><small>Scroll to the specified coordinates</small></p>
                    <button class="nes-btn is-success">Go</button>
                </div>
                <div class="nes-container">
                    <button id="cancel-button" class="nes-btn is-error">Start search now</button>
                    <p><small>Stop loading region files and start searching in the currently loaded area.</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="step hidden" data-step="3">
        <div class="nes-balloon from-left">
            <div id="message" class="pre-wrap"></div>
            <div id="hover" class="pre-wrap"></div>
            <canvas id="map" class="with-margin" width="512" height="512"></canvas>
            <div class="nes-container with-title">
                <p class="title">Key</p>
                <p>Processed from y:-64 to 64</p>
                <ul>
                    <li><span style="color:blue">blue</span> - all river biome</li>
                    <li><span style="color:red">red</span> - some cave biome</li>
                    <li><span style="color:#009">dark blue</span> - some river biome, no cave</li>
                    <li><span style="color:green">green</span> - other</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="step hidden" data-step="4">
        <div class="nes-balloon from-left" style="width:100%">
            <p>Processing finished. There are xxx river biome columns around x:xxx z:xxx.</p>
            <button class="nes-btn">Save schematic</button>
        </div>
    </div>
</div>
<%- include('include/footer'); -%>