<% title = "Geode AFK Spot Finder" -%>
<% entryPoint = "out/geode.js" -%>
<%- include('include/header'); -%>
<h1>Geode AFK Spot Finder</h1>
<p>Finds the spot with the most budding amethyst blocks in range.</p>
<div>
    <div id="step-1-balloon" class="nes-balloon from-left">
        Load all .mca files in your world's region folder.
        <p>
            <label id="region-files-container" class="nes-btn file-select">
                <span>Select your files</span>
                <input id="region-files" type="file" multiple>
            </label>
            <button id="sample" class="nes-btn">Load Sample</button>
        </p>
        <small>Your files are never uploaded &mdash; everything is processed in your browser.</small>
    </div>
</div>
<div id="step-1-response" class="step hidden">
    <div id="step-1-response-balloon" style="float:right;" class="nes-balloon from-right">
    </div>
</div>
<div id="step-2" class="step hidden">
    <div class="nes-balloon from-left" style="width: 100%">
        <div id="afk-spot-log"></div>
        <div style="white-space: pre-wrap;" id="map-label"></div>
        <canvas id="map" width="512" height="512"></canvas>
    </div>
</div>
<%- include('include/footer'); -%>